
*{font-family:Corben;
	margin:0 auto; padding:0;}

#container{
	margin:3% auto 3% auto;
	padding:40px;
	background:#666;
	width:1100px;
	height:1200px;
	border:8px double black;
	box-shadow:5px 4px #333; 
	border-radius:10px;
	}
    
.menu 
{
	float:left;
	font-family:Corben;
    text-shadow:none;
    width:100%;
    list-style:none;
}
.menu li 
{
    line-height:10px;
    margin-top:4%;
    margin-right:3%;
	float:left;
	list-style-position:inside;	
	position:relative;
}
.menu li a 
{
	font-weight:bold;
	color:#c0bfbf;
	font-size:18px;
	letter-spacing:2px;
	text-decoration:none;
}
.menu li a:hover 
{
    color:#fff;
}
.acilirmenu 
{
	height:auto;
    display:none;
	position:absolute;
	z-index:1;
}
.menu li:hover >.acilirmenu 
{
    display:block;
}
.acilirmenu li:first-child,.acilirmenu li:nth-child(2n+1)
{
	color:#c9c9c9;
	background-color:#ddd;
}
.acilirmenu li:nth-last-child(n+1):hover, .acilirmenu li:last-child:hover {
    transition: all 1s;
    background-color: #c9c9c9;
	color:#ddd;
}

.acilirmenu li {
	
	background-color:#c9c9c9;
	border-bottom:1px solid #fefefe;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #f5f5f5;
	border-top:1px solid #d4d4d4;
	list-style:none;
    margin-left:-10px;
	width:100px;
}

.acilirmenu li a {
	color:#464c5d;
	font-family:Corben;
	font-size:10px;
	display:block;
	padding: 5px 10px  5px 10px;
}
.acilirmenu li a:hover {
	color:#fff;
}
#mdiv{
	width:100%;
	margin-top:-8%;
	border:3px double black;
	border-radius:10px;
	padding:6% 0 2% 2%;
	background:orange;
	}
#mgiris{
	width:30%;
	padding:2px;
	font:13px Arial, Helvetica, sans-serif bold;
	}
th{ color:#F00;}
#baslik
{
	padding:20px;
	font-size:30px;
}
#table{
	border:10px double black;
	transition:1s all;
	border-radius:20px;
	background:#FFAE6B;
	padding:20px 160px 20px 160px;
	line-height:3;
	}
	
#admin{
	margin-top:5%;
	padding:25px;
	border:10px double black;
	border-radius:20px;
	width:1000px;
	background:#CCC;
	}
#admintable{
	font-size:13px;
	width:500px;
	padding:10px;
	border-radius:20px;
	border:10px double black;
		background:#ABF8E2;
	}
#ziyaretci{padding:2px;}
#kullanici{width:120px;padding:2px;}
#text
{
	transition:1s all;
	font-family:Corben;
	border-radius:10px;
	border:double black;
	width:100%;
	height:100%;
}
#btn{
	width:100%;
	border-radius:10px;
	background:url(images/largeyellowbutton.jpg);
	padding:5px;
	transition:all 1s;
	}
#btn:hover{
	transition:all 1s; background:url(images/largeyellowbutto2n.jpg);}
#filmler{
	width:100%;
	}
#film{
	box-shadow:5px 5px #333;
	font-size:12px;
	margin:5px;
	height:210px;
	padding:1%;
	float:left;
	width:30%;
	background:#999;
	border-radius:25px;
	}
#filmh{color:#09B6C4; text-shadow:1px 1px #004655; }
#film,#film a{text-decoration:none; color:black; font-weight:bold;}
#film a{color:red;}
#film:hover{
	background:#CCC;
	border-radius:0;
	transition:all 1s;
	opacity:0.9;
	}
	#sayfalama{ margin-top:3%; width:100%; float:left;}
	#sayfalama a{text-decoration:none; color:black;}
	#numara{margin-right:3%;}